<h1>Friend list</h1>
<% friends.forEach(function(friend) { %>
    <li><%= friend %></li>
<% }); %>

<form action="/addFriend" method="post">
    <input type="text" placeholder="name" name="name">
    <button>Add a friend</button>
</form>